---
layout: markdown_page
title: "Secure & Enablement Quality Engineering team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

Engineers in this team are embedded in the [Secure section] and [Enablement section].

## Areas of Responsibility

All stages under the [Secure section] and [Enablement section].
* **[Secure stage]**: Security capabilities, integrated into the development lifecycle.
  * [Static Analysis group] : SAST, Secret Detection
  * [Dynamic Analysis group] : DAST, IAST, Fuzzing
  * [Composition Analysis group] : Container Scanning, Dependency Scanning, License Compliance, Vulnerability Database
* **[Enablement stage]**: An emphasis on the stability and performance of on-premise GitLab installations.
  * [Distribution group] : Omnibus, Cloud Native Installation
  * [Ecosystem group] : SDKs & Integration APIs, Native Integrations, Marketplace
  * [Geo group] : Geo-replication, Disaster Recovery
  * [Memory group]
  * [Search group]

## Projects

* [GitLab Performance Toolkit]

## Team members

<%= direct_team(manager_role: 'Quality Engineering Manager, Secure & Enablement') %>

## Project Management

The global issue board for the team can be found here: [Quality - Secure & Enablement QE Team](https://gitlab.com/groups/gitlab-org/-/boards/978354)

[Secure section]: /handbook/product/categories/#secure-section
[Secure stage]: /handbook/product/categories/#secure-stage
[Static Analysis group]: /handbook/product/categories/#static-analysis-group
[Dynamic Analysis group]: /handbook/product/categories/#dynamic-analysis-group
[Composition Analysis group]: /handbook/product/categories/#composition-analysis-group
[Enablement section]: /handbook/product/categories/#enablement-section
[Enablement stage]: /handbook/product/categories/#enablement-stage
[Distribution group]: /handbook/product/categories/#distribution-group
[Ecosystem group]: /handbook/product/categories/#ecosystem-group
[Geo group]: /handbook/product/categories/#geo-group
[Memory group]: /handbook/product/categories/#memory-group
[Search group]: /handbook/product/categories/#search-group
[GitLab Performance Toolkit]: https://gitlab.com/gitlab-org/quality/performance
