---
layout: markdown_page
title: "Product Vision - Defend"
---

- TOC
{:toc}

This is the product vision for Defend.

## Overview

The Defend stage includes all features related to defending your applications and cloud infrastructure,
identifying and cataloging threats, vulnerabilities, and risks, and giving you the ability to manage and remediate
them.

GitLab helps you create, deliver, and manage secure applications in today's
modern infrastructure while also enabling DevOps methodologies and Digital Transformations.

Our first capability in Defend is the [Web Application Firewall](#web-application-firewall) category.
The first Minimal Viable Change was to add capabilities to [Enable ModSecurity on your Kubernetes cluster ingress](https://gitlab.com/gitlab-org/gitlab/issues/25398). This category is the first step to protecting your applications,
by monitoring and being able to protect against
malicious traffic, which includes attacks like SQL injection and cross-site scripting.

## Guiding Principles

### Listen and record first, then act
In line with our [Security Paradigm](https://about.gitlab.com/direction/secure/#security-paradigm), Defend features will inform
and report threats that occur as a first step. Once you explicitly tell GitLab to block traffic, users, or devices,
we will record these decisions and then block and drop those bad actors.

This is valuable to you because it means that you can introduce and configure security for your app gradually
over time without disrupting your end users. Examining the information about what GitLab Defend reports in
your app helps you ensure that the security settings are appropriate for your app and business will not
introduce more false positves nor permit more potentially bad actions than you are comfortable with. Having 
recorded evidence of threats and your response ensures you can easily achieve your compliance goals and requirements.

### Inform action for other stages
One of GitLab's key advantages as a single DevOps platform is that all of our stages are integrated and tightly
connected. Defend will identify and protect against threats as they happen, but we will strive to be informative
to other stages to give you actionable next steps to close a vulnerability or point of exploit, not just defend it.

Not only does shifting left and acting on results earlier give your apps better security, it helps
[enable collaboration](/handbook/product/#enabling-collaboration) with everyone at your company.
We believe that security is everyone's responsibility and that [everyone can contribute](/company/strategy/#mission),
and informing other stages is a powerful way to do this. 

### Emphasize usability and convention over configuration
Defend capabilities will be pre-configured to provide value to protecting your applications.
Rather than require you to read documentation manuals and provide complex configuration files,
[GitLab will always provide reasonable defaults](/handbook/product/#convention-over-configuration)
out of the box.

We will provide the ability for advanced and customized configurations, but these will
only be needed based on your specific use case and when you feel comfortable doing so.

<%= partial("direction/categories", :locals => { :stageKey => "defend" }) %>

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "defend" }) %>
